In [1]:
#import pandas as pd
import cudf
import cugraph
import cupy as cp

In [2]:
import graphistry
graphistry.__version__

'0+unknown'

In [3]:
graphistry.register(
    api=3,
    personal_key_id='',
    personal_key_secret=''
)

## Data

In [4]:
e_df = cudf.read_csv(
    'https://raw.githubusercontent.com/graphistry/pygraphistry/refs/heads/master/demos/data/facebook_combined.txt',
    sep=' ',
    names=['s', 'd']
)

e_df['s'] = e_df['s'].astype(str) + '_n'
e_df['d'] = e_df['d'].astype(str) + '_n'

R = 1000
#e_df = cudf.concat([
#    e_df,
#    cudf.DataFrame({
#        's': [f'rr{i}' for i in range(R)],
#        'd': [f'rr{i}' for i in range(R)]
#    })
#], ignore_index=True, sort=False).reset_index(drop=True)

print(e_df.shape)
e_df.head()

(88234, 2)

     s    d
0  0_n  1_n
1  0_n  2_n
2  0_n  3_n
3  0_n  4_n
4  0_n  5_n

In [5]:
g = graphistry.edges(e_df.assign(w=1.0), 's', 'd')#.compute_cugraph('ecg', directed=False)

In [6]:
%%time
G = cugraph.Graph(directed=True)
G.from_cudf_edgelist(g._edges, source=g._source, destination=g._destination, edge_attr='w')

CPU times: user 129 ms, sys: 56.2 ms, total: 185 ms
Wall time: 186 ms

In [7]:
g_ecg = g.compute_cugraph('ecg', directed=True, G=G)

In [8]:
g_ecg._nodes.head()

       id  ecg
0  3952_n  125
1  3953_n  169
2  3954_n  125
3  3955_n   12
4  3958_n   80

In [9]:
K = 10
top_k_ecg = g_ecg._nodes.ecg.value_counts()[:10].reset_index()
top_k_ecg

   index  ecg
0    182  490
1     66  486
2     46  379
3     19  282
4     48  236
5     87  231
6     62  227
7    124  205
8    169  186
9     86  182

In [10]:
g_ecg._nodes.sort_values(by='id').reset_index(drop=True).groupby(['ecg']).cumcount().reset_index(drop=True)

0         0
1         0
2         1
3         0
4         0
       ...
4034    376
4035    377
4036    378
4037    229
4038    230
Length: 4039, dtype: int64

In [11]:
top_k_ecg.index % 3

Int64Index([0, 1, 2, 0, 1, 2, 0, 1, 2, 0], dtype='int64')

In [12]:
top_k_ecg.iloc[1,0], top_k_ecg.iloc[1,1]

(66, 486)

In [13]:

N = 100000
e2_df = cudf.DataFrame({
    's': [f'{i}_nn' for i in range(N)],
    'd': [f'{i}_nn' for i in range(N)],
    'w': 1.0
})
ecg_min = g_ecg._nodes.ecg.min()
ecg_max = g_ecg._nodes.ecg.max()


mod_k_to_ecg = {
    i % K: top_k_ecg.iloc[i % K, 0]
    for i in range(K)
}
                          

n2_df = cudf.DataFrame({
    'id': [f'{i}_nn' for i in range(N)],
    'ecg': (cudf.Series(cp.random.randint(ecg_min, ecg_max, size=N)) % K).map(mod_k_to_ecg)
})

In [14]:
g2_ecg = g_ecg.nodes(
    cudf.concat([
        g_ecg._nodes.assign(orig=True),
        n2_df.assign(orig=False)
    ])
).edges(cudf.concat([g_ecg._edges, e2_df]))

In [15]:
g2_ecg._nodes.head()

       id  ecg  orig
0  3952_n  125  True
1  3953_n  169  True
2  3954_n  125  True
3  3955_n   12  True
4  3958_n   80  True

In [16]:
g2_ecg._nodes[ g2_ecg._nodes.id.str.contains('nn') ]

             id  ecg   orig
0          0_nn   86  False
1          1_nn   66  False
2          2_nn   19  False
3          3_nn   66  False
4          4_nn   46  False
...         ...  ...    ...
99995  99995_nn  169  False
99996  99996_nn  169  False
99997  99997_nn   66  False
99998  99998_nn   19  False
99999  99999_nn  169  False

[100000 rows x 3 columns]

In [17]:
#g_ecg.plot()

## FA2

In [18]:
g2_fa = g2_ecg.fa2_layout()

num_nodes: 100000
delta_r: 50.0, spacing_s: 5.0
node_start_radii (%s):
%s <class 'cudf.core.series.Series'> 0        13499.564453
1        13499.564453
2        13499.564453
3        13499.564453
4        13499.564453
             ...
99995    13499.564453
99996    13499.564453
99997    13499.564453
99998    13499.564453
99999    13499.564453
Length: 100000, dtype: float32
node_indices (%s):
%s <class 'cupy.ndarray'> [    0     1     2 ... 99997 99998 99999]
numerator: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
Any negative values in numerator? 0
node_start_radii: 0        13499.564453
1        13499.564453
2        13499.564453
3        13499.564453
4        13499.564453
             ...
99995    13499.564453
99996    13499.564453
99997    13499.564453
99998    13499.564453
99999    13499.564453
Length: 100000, dtype: float32
node_indices: [    0     1     2 ... 99997 99998 99999]
numerator: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
Any negative values in numerator? 0
R: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
Any negative R values? 0
Max R: 0
Min R: 0
ring_numbers: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
Any negative ring numbers? 0
Max ring number: 0
Min ring number: 0
max(ring_numbers) > 0 False
node_radii: 0        13499.564453
1        13499.564453
2        13499.564453
3        13499.564453
4        13499.564453
             ...
99995    13499.564453
99996    13499.564453
99997    13499.564453
99998    13499.564453
99999    13499.564453
Length: 100000, dtype: float64
R_prev: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
total_nodes_prev_rings: [0 0 0 ... 0 0 0]
Any negative values in total_nodes_prev_rings? 0
Max total_nodes_prev_rings: 0
Min total_nodes_prev_rings: 0
node_indices_in_ring: 0            0
1            1
2            2
3            3
4            4
         ...
99995    99995
99996    99996
99997    99997
99998    99998
99999    99999
Length: 100000, dtype: int64
Any negative node indices in ring? 0
Max node_indices_in_ring: 99999
Min node_indices_in_ring: 0
Non-partitioned layout
num_nodes:
%s 100000
total_nodes_prev_rings:
%s [0 0 0 ... 0 0 0]
node_counts_in_rings:
%s 0        100000
1        100000
2        100000
3        100000
4        100000
          ...
99995    100000
99996    100000
99997    100000
99998    100000
99999    100000
Length: 100000, dtype: int64
node_indices_in_ring:
%s 0            0
1            1
2            2
3            3
4            4
         ...
99995    99995
99996    99996
99997    99997
99998    99998
99999    99999
Length: 100000, dtype: int64
is_final_ring:
0        True
1        True
2        True
3        True
4        True
         ...
99995    True
99996    True
99997    True
99998    True
99999    True
Length: 100000, dtype: bool
is_final_ring len:
100000
node_counts_in_rings len:
100000
nodes_in_final_ring:
0        100000
1        100000
2        100000
3        100000
4        100000
          ...
99995    100000
99996    100000
99997    100000
99998    100000
99999    100000
Length: 100000, dtype: int64
full_nodes_in_ring:
0        16964
1        16964
2        16964
3        16964
4        16964
         ...
99995    16964
99996    16964
99997    16964
99998    16964
99999    16964
Length: 100000, dtype: int64
Before node_angles GPU Memory Usage: Used: 0.00 GB, Free: 11.74 GB, Total: 11.74 GB
node_indices_in_ring: 100000
nodes_in_ring: 100000
engine_concrete: Engine.CUDF
node_angles: 0        0.000000
1        0.000063
2        0.000126
3        0.000188
4        0.000251
           ...
99995    6.282871
99996    6.282934
99997    6.282997
99998    6.283060
99999    6.283122
Length: 100000, dtype: float64
node_final_x: 0        12915.183594
1        12915.183567
2        12915.183487
3        12915.183354
4        12915.183167
             ...
99995    12915.182928
99996    12915.183167
99997    12915.183354
99998    12915.183487
99999    12915.183567
Length: 100000, dtype: float64
node_final_y: 0       -2951.784668
1       -2950.936465
2       -2950.088263
3       -2949.240060
4       -2948.391857
            ...
99995   -2956.025681
99996   -2955.177479
99997   -2954.329276
99998   -2953.481073
99999   -2952.632871
Length: 100000, dtype: float64
nan indexes x: Int64Index([], dtype='int64')
nan indexes y: Int64Index([], dtype='int64')
dtype expt: float64
dtype node_idx_relative: int64
dtype nodes_in_ring: int64
type pi <class 'float'>
delta_r 50.0
nan indexes x: Int64Index([], dtype='int64')
nan indexes y: Int64Index([], dtype='int64')

In [19]:
g2_fa.plot()

## GIB

In [20]:
g2_gib = g2_ecg.group_in_a_box_layout(partition_key='ecg')

bulk_mode layout
size - keys 188
size - center_x_per_partition 188
size - center_y_per_partition 188
size - width_per_partition 188
size - height_per_partition 188
num_nodes: 100000
delta_r: 50.0, spacing_s: 5.0
node_start_radii (%s):
%s <class 'cudf.core.series.Series'> 0        374.814704
1        374.814704
2        374.814704
3        374.814704
4        374.814704
            ...
99995    373.654712
99996    373.654712
99997    373.654712
99998    373.654712
99999    373.654712
Length: 100000, dtype: float64
node_indices (%s):
%s <class 'cupy.ndarray'> [    0     1     2 ... 99997 99998 99999]
numerator: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
Any negative values in numerator? 0
node_start_radii: 0        374.814704
1        374.814704
2        374.814704
3        374.814704
4        374.814704
            ...
99995    373.654712
99996    373.654712
99997    373.654712
99998    373.654712
99999    373.654712
Length: 100000, dtype: float64
node_indices: [    0     1     2 ... 99997 99998 99999]
numerator: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
Any negative values in numerator? 0
R: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
Any negative R values? 0
Max R: 0
Min R: 0
ring_numbers: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
Any negative ring numbers? 0
Max ring number: 0
Min ring number: 0
max(ring_numbers) > 0 False
node_radii: 0        374.814704
1        374.814704
2        374.814704
3        374.814704
4        374.814704
            ...
99995    373.654712
99996    373.654712
99997    373.654712
99998    373.654712
99999    373.654712
Length: 100000, dtype: float64
R_prev: 0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Length: 100000, dtype: int64
total_nodes_prev_rings: [0 0 0 ... 0 0 0]
Any negative values in total_nodes_prev_rings? 0
Max total_nodes_prev_rings: 0
Min total_nodes_prev_rings: 0
node_indices_in_ring: 0            0
1            1
2            2
3            3
4            4
         ...
99995    10126
99996    10127
99997    10128
99998    10129
99999    10130
Length: 100000, dtype: int64
Any negative node indices in ring? 0
Max node_indices_in_ring: 10267
Min node_indices_in_ring: 0
Partitioned layout
is_final_ring len:
100000
node_counts_in_rings len:
100000
nodes_in_final_ring:
0           0
1           0
2           0
3           0
4           0
         ...
99995    9687
99996    9687
99997    9687
99998    9687
99999    9687
Length: 100000, dtype: int64
full_nodes_in_ring:
0        471
1        471
2        471
3        471
4        471
        ...
99995    469
99996    469
99997    469
99998    469
99999    469
Length: 100000, dtype: int64
Before node_angles GPU Memory Usage: Used: 0.00 GB, Free: 11.74 GB, Total: 11.74 GB
node_indices_in_ring: 100000
nodes_in_ring: 100000
engine_concrete: Engine.CUDF
node_angles: 0        0.000000
1        0.000665
2        0.001330
3        0.001994
4        0.002659
           ...
99995    6.567930
99996    6.568578
99997    6.569227
99998    6.569876
99999    6.570524
Length: 100000, dtype: float64
node_final_x: 0        5824.080329
1        5824.080246
2        5824.079998
3        5824.079584
4        5824.079004
            ...
99995   -6274.218691
99996   -6274.286848
99997   -6274.355156
99998   -6274.423615
99999   -6274.492225
Length: 100000, dtype: float64
node_final_y: 0       -8107.169922
1       -8106.920739
2       -8106.671556
3       -8106.422373
4       -8106.173190
            ...
99995   -2947.328111
99996   -2947.095532
99997   -2946.862997
99998   -2946.630507
99999   -2946.398061
Length: 100000, dtype: float64
nan indexes x: Int64Index([], dtype='int64')
nan indexes y: Int64Index([], dtype='int64')
dtype expt: float64
dtype node_idx_relative: int64
dtype nodes_in_ring: int64
type pi <class 'float'>
delta_r 50.0
nan indexes x: Int64Index([], dtype='int64')
nan indexes y: Int64Index([], dtype='int64')
BULK generated node columns Index(['id', 'ecg', 'orig', 'x', 'y', 'degree_in', 'degree_out', 'degree',
       'node_idx_relative', 'nodes_in_ring', 'cx', 'cy', 'node_radii',
       'node_start_radii', 'ring_numbers', 'node_widths', 'node_heights',
       'is_ok_community', 'expt', 'type'],
      dtype='object')

In [21]:
g2_gib.plot()

In [22]:
g2_gib._nodes.head(10)

,id,ecg,orig,x,y,degree_in,degree_out,degree,node_idx_relative,nodes_in_ring,cx,cy,node_radii,node_start_radii,ring_numbers,node_widths,node_heights,is_ok_community,expt,type
0,2031_n,19,True,2364.380371,6007.918945,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2
1,2032_n,19,True,2075.984375,6008.221191,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2
2,2033_n,48,True,2632.051758,7668.122559,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2
3,2034_n,124,True,2757.224854,6405.656738,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2
4,2035_n,124,True,2803.757568,6217.627930,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2
5,2036_n,19,True,2454.189941,6218.378418,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2
6,2037_n,48,True,2569.577881,7487.009277,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2
7,2038_n,19,True,2207.141602,6000.337402,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2
8,2039_n,19,True,1993.291016,6101.513672,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2
9,2040_n,48,True,2447.797119,7438.072754,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,force_atlas2

In [23]:
g2_gib._nodes[ ~g2_gib._nodes.orig & g2_gib._nodes.cx.isna() ]

Empty DataFrame
Columns: [id, ecg, orig, x, y, degree_in, degree_out, degree, node_idx_relative, nodes_in_ring, cx, cy, node_radii, node_start_radii, ring_numbers, node_widths, node_heights, is_ok_community, expt, type]
Index: []

In [24]:
b = g2_gib._nodes[ ~g2_gib._nodes.orig ]

mask = b.groupby('ecg').cumcount() < 3

b[mask]

,id,ecg,orig,x,y,degree_in,degree_out,degree,node_idx_relative,nodes_in_ring,cx,cy,node_radii,node_start_radii,ring_numbers,node_widths,node_heights,is_ok_community,expt,type
4039,2_nn,19,False,5824.080329,-8107.169922,0,0,0,0,9451,5449.265625,-8107.169922,374.814704,374.814704,0,504.826703,504.826703,False,0.000000,force_atlas2
4040,7_nn,19,False,5824.080246,-8106.920739,0,0,0,1,9451,5449.265625,-8107.169922,374.814704,374.814704,0,504.826703,504.826703,False,0.000000,force_atlas2
4041,12_nn,19,False,5824.079998,-8106.671556,0,0,0,2,9451,5449.265625,-8107.169922,374.814704,374.814704,0,504.826703,504.826703,False,0.000000,force_atlas2
14233,4_nn,46,False,-1927.826336,-12443.355469,0,0,0,0,9576,-2302.089111,-12443.355469,374.262775,374.262775,0,504.083326,504.083326,False,0.000104,force_atlas2
14234,6_nn,46,False,-1927.826417,-12443.109900,0,0,0,1,9576,-2302.089111,-12443.355469,374.262775,374.262775,0,504.083326,504.083326,False,0.000104,force_atlas2
14235,13_nn,46,False,-1927.826658,-12442.864332,0,0,0,2,9576,-2302.089111,-12443.355469,374.262775,374.262775,0,504.083326,504.083326,False,0.000104,force_atlas2
24397,22_nn,48,False,31.573942,-3202.340332,0,0,0,0,10268,-344.598724,-3202.340332,376.172666,376.172666,0,506.655702,506.655702,False,0.000195,force_atlas2
24398,25_nn,48,False,31.573872,-3202.110145,0,0,0,1,10268,-344.598724,-3202.340332,376.172666,376.172666,0,506.655702,506.655702,False,0.000195,force_atlas2
24399,26_nn,48,False,31.573660,-3201.879958,0,0,0,2,10268,-344.598724,-3202.340332,376.172666,376.172666,0,506.655702,506.655702,False,0.000195,force_atlas2
34665,10_nn,62,False,557.042976,-2318.512207,0,0,0,0,10164,-1122.775146,-2318.512207,1679.818122,1679.818122,0,2649.607422,1793.701050,True,0.000295,force_atlas2
34666,37_nn,62,False,557.042655,-2317.473777,0,0,0,1,10164,-1122.775146,-2318.512207,1679.818122,1679.818122,0,2649.607422,1793.701050,True,0.000295,force_atlas2
34667,40_nn,62,False,557.041692,-2316.435346,0,0,0,2,10164,-1122.775146,-2318.512207,1679.818122,1679.818122,0,2649.607422,1793.701050,True,0.000295,force_atlas2
44826,1_nn,66,False,-4591.850134,-2907.983398,0,0,0,0,10194,-4966.995605,-2907.983398,375.145472,375.145472,0,505.272204,505.272204,False,0.000392,force_atlas2
44827,3_nn,66,False,-4591.850205,-2907.752173,0,0,0,1,10194,-4966.995605,-2907.983398,375.145472,375.145472,0,505.272204,505.272204,False,0.000392,force_atlas2
44828,11_nn,66,False,-4591.850419,-2907.520948,0,0,0,2,10194,-4966.995605,-2907.983398,375.145472,375.145472,0,505.272204,505.272204,False,0.000392,force_atlas2
55038,0_nn,86,False,-6786.418988,-3164.207275,0,0,0,0,10161,-7147.315918,-3164.207275,360.896930,360.896930,0,486.081269,486.081269,False,0.000492,force_atlas2
55039,17_nn,86,False,-6786.419057,-3163.984110,0,0,0,1,10161,-7147.315918,-3164.207275,360.896930,360.896930,0,486.081269,486.081269,False,0.000492,force_atlas2
55040,31_nn,86,False,-6786.419264,-3163.760945,0,0,0,2,10161,-7147.315918,-3164.207275,360.896930,360.896930,0,486.081269,486.081269,False,0.000492,force_atlas2
64489,9_nn,87,False,-5573.539817,-3082.170166,0,0,0,0,10212,-5947.655273,-3082.170166,374.115457,374.115457,0,503.884907,503.884907,False,0.000588,force_atlas2
64490,15_nn,87,False,-5573.539887,-3081.939982,0,0,0,1,10212,-5947.655273,-3082.170166,374.115457,374.115457,0,503.884907,503.884907,False,0.000588,force_atlas2
64491,23_nn,87,False,-5573.540100,-3081.709799,0,0,0,2,10212,-5947.655273,-3082.170166,374.115457,374.115457,0,503.884907,503.884907,False,0.000588,force_atlas2
74645,8_nn,124,False,-4940.798721,-3022.135254,0,0,0,0,10156,-5306.173828,-3022.135254,365.375107,365.375107,0,492.112792,492.112792,False,0.000689,force_atlas2
74646,45_nn,124,False,-4940.798791,-3021.909208,0,0,0,1,10156,-5306.173828,-3022.135254,365.375107,365.375107,0,492.112792,492.112792,False,0.000689,force_atlas2
74647,56_nn,124,False,-4940.799001,-3021.683163,0,0,0,2,10156,-5306.173828,-3022.135254,365.375107,365.375107,0,492.112792,492.112792,False,0.000689,force_atlas2
84332,5_nn,169,False,3189.792567,-8206.836914,0,0,0,0,10131,2826.516846,-8206.836914,363.275722,363.275722,0,489.285193,489.285193,False,0.000790,force_atlas2
84333,19_nn,169,False,3189.792498,-8206.611613,0,0,0,1,10131,2826.516846,-8206.836914,363.275722,363.275722,0,489.285193,489.285193,False,0.000790,force_atlas2
84334,20_nn,169,False,3189.792288,-8206.386311,0,0,0,2,10131,2826.516846,-8206.836914,363.275722,363.275722,0,489.285193,489.285193,False,0.000790,force_atlas2
93908,21_nn,182,False,-6259.172925,-3052.292236,0,0,0,0,9687,-6632.827637,-3052.292236,373.654712,373.654712,0,503.264344,503.264344,False,0.000929,force_atlas2
93909,29_nn,182,False,-6259.173003,-3052.049876,0,0,0,1,9687,-6632.827637,-3052.292236,373.654712,373.654712,0,503.264344,503.264344,False,0.000929,force_atlas2
93910,92_nn,182,False,-6259.173239,-3051.807516,0,0,0,2,9687,-6632.827637,-3052.292236,373.654712,373.654712,0,503.264344,503.264344,False,0.000929,force_atlas2

In [25]:
h = g2_gib._nodes[ ~g2_gib._nodes.orig ].head(100)

h.node_idx_relative / h.nodes_in_ring

4039    0.000000
4040    0.000106
4041    0.000212
4042    0.000317
4043    0.000423
          ...
4134    0.010052
4135    0.010158
4136    0.010263
4137    0.010369
4138    0.010475
Length: 100, dtype: float64

In [26]:
#g_gib._complex_encodings

In [27]:
g2_gib._nodes[ ~g2_gib._nodes.orig ].dtypes

id                    object
ecg                    int32
orig                    bool
x                    float64
y                    float64
degree_in              int32
degree_out             int32
degree                 int32
node_idx_relative      int64
nodes_in_ring          int64
cx                   float32
cy                   float32
node_radii           float64
node_start_radii     float64
ring_numbers           int64
node_widths          float64
node_heights         float64
is_ok_community         bool
expt                 float64
type                  object
dtype: object

In [28]:
4 / 9836

0.00040666937779585197

In [29]:
import pandas as pd
pd.Series([4]) / pd.Series([9836])

0    0.000407
dtype: float64

In [30]:
cudf.Series(pd.Series([4]) / pd.Series([9836]))

0    0.000407
dtype: float64

In [31]:
cudf.Series([4]) / cudf.Series([9836])

0    0.000407
dtype: float64